@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#board {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 0 2px #000;
   z-index: 0;
}

#board.highlight {
   cursor: pointer;
}

#board .cell {
   width: var(--cell-size);
   height: var(--cell-size);
   display: inline-block;
   box-shadow: 0 0 0 calc(var(--cell-border-size) / 2) #000 inset;
}

.creature {
   background-color: green;
   border-radius: 100%;
   position: absolute;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 1px 3px #000 inset,
               0 0 0 var(--vision-size) rgba(0, 0, 0, 0.3); /* The creature's shadow */
   z-index: 1;
}
.creature.rgb {
   animation: rgb 2s linear infinite;
}
@keyframes rgb {
   from {
      background-color: #6666ff;
   }
   10% {
      background-color: #0099ff;
   }
   50% {
      background-color: #00ff00;
   }
   75% {
      background-color: #ff3399;
   }
   100% {
      background-color: #6666ff;
   }
}

.creature :is(.life, .reproduction) {
   height: 10px;
   width: 50px;
   background-color: #fff;
   border: 3px solid #000;
   position: absolute;
   left: 50%;
   transform: translate(-50%, -100%);
   z-index: 2;
   pointer-events: none;
}
.creature :is(.life-bar, .reproduction-bar) {
   position: absolute;
   top: -1px;
   right: -1px;
   bottom: -1px;
   left: -1px;
}
.creature .life {
   top: -2px;
}
.creature .reproduction {
   top: -18px;
}
.creature.abstaining .reproduction {
   background-color: #aaa;
   border: 3px solid #444;
   opacity: 0.7;
}
.creature .reproduction-bar {
   background-color: rgb(255, 166, 182);
}

.creature.highlighted {
   box-shadow: 0 0 1px 3px #fff inset,
               0 0 0 var(--vision-size) rgba(0, 0, 0, 0.3); /* The creature's shadow */
}

.fruit {
   border-radius: 100%;
   position: absolute;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.game-image {
   position: absolute;
   transform: translate(-50%, -50%);
   z-index: 2;
   image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: pixelated;
   image-rendering: crisp-edges;
}

.ray {
   height: 2px;
   background-color: rgb(255, 0, 0);
   position: absolute;
   transform-origin: top left;
   z-index: 3;
}