@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#control-panel {
   min-width: 20rem;
   padding: 0.2rem 0.4rem;
   height: 100%;
   background-color: var(--matte-black);
   box-shadow: 5px 0 7px 0 rgba(0, 0, 0, 0.4);
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   text-overflow: ellipsis;
}
.dark-mode #control-panel {
   background-color: #000;
}

#control-panel .warning {
   color: red;
   line-height: 1rem;
   font-style: italic;
   text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000;
}

#expand-icon {
   --size: 13px;
   --thickness: 3.5px;
   --colour: #bbb;
   --hover-colour: #fff;
   --active-colour: #ccc;
   --offset: 4px;
   width: var(--size);
   height: var(--size);
   position: absolute;
   top: var(--offset);
   left: var(--offset);
   cursor: pointer;
   z-index: 9;
}
#expand-icon .formatter {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   animation: expandIconSpin 20s linear infinite;
}
@keyframes expandIconSpin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
#expand-icon:hover :is(.horizontal-bar, .vertical-bar) {
   background-color: var(--hover-colour);
}
#expand-icon:active :is(.horizontal-bar, .vertical-bar) {
   background-color: var(--active-colour);
}
#expand-icon .vertical-bar {
   width: var(--thickness);
   height: 100%;
   background-color: var(--colour);
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}
#expand-icon .horizontal-bar {
   width: 100%;
   height: var(--thickness);
   background-color: var(--colour);
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}
#expand-icon .text {
   color: #ccc;
   font: 400 0.9rem "Source Code Pro";
   letter-spacing: -0.02rem;
   white-space: pre;
   position: absolute;
   left: calc(100% + 0.5rem);
   top: calc(50% - 0.05rem);
   transform: translateY(-50%);
}

#control-panel .collapse-icon {
   --size: 13px;
   --thickness: 3.5px;
   --colour: #bbb;
   --hover-colour: #fff;
   --active-colour: #ccc;
   --offset: 4px;
   width: var(--size);
   height: var(--size);
   position: absolute;
   top: var(--offset);
   left: var(--offset);
   cursor: pointer;
}
#control-panel .collapse-icon:hover .horizontal-bar {
   background-color: var(--hover-colour);
}
#control-panel .collapse-icon:active .horizontal-bar {
   background-color: var(--active-colour);
}
#control-panel .collapse-icon .horizontal-bar {
   width: 100%;
   height: var(--thickness);
   background-color: var(--colour);
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}