@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#graph-viewer {
   width: clamp(50%, 1000px, 90%);
   color: #fff;
   background-color: #28282b;
   border-radius: 10px;
   padding: 10px;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 5;
   box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

/* #graph-viewer * {
   font-family: "Source Sans 3" !important;
} */

#graph-viewer .formatter {
   width: 100%;
   display: flex;
}
#graph-viewer .formatter > * {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 50%;
}

/* #graph-viewer h1 {
   color: rgb(159, 154, 179);
   font-size: 1.8rem;
   margin: 0 0 5px;
} */

/* #graph-viewer h2 {
   position: relative;
   margin-top: 10px;
} */
/* #graph-viewer h2::after {
   content: "";
   height: 2px;
   background-color: #5d5d6b;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -4px;
} */
/* #graph-viewer .formatter > *:first-child h2::after {
   right: 20px;
} */

#graph-viewer .option {
   color: #ddd;
   margin-bottom: 3px;
   cursor: pointer;
}
#graph-viewer input[type='checkbox'] {
   opacity: 0.6;
   margin-right: 5px;
}
#graph-viewer .option.selected {
   color: #fff;
}
#graph-viewer .option.selected input[type='checkbox'] {
   opacity: 1;
}
#graph-viewer .option .description {
   font-style: italic;
   font-size: 0.9rem;
   line-height: 0.9rem;
   color: rgb(171, 171, 189);
   margin: 1px 0 10px 20px;
}

#graph-viewer .graph-container {
   width: 100%;
   margin: 10px 0 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

#graph-viewer .graph-container p {
   max-width: 60%;
   color: #878799;
   text-align: center;
   font-weight: bold;
   font-style: italic;
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
}