@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

.graph {
   --point-size: 2px;

   border: 1px solid #000;
   margin: 20px 0 40px;
   position: relative;
}

.graph .title {
   font: 600 0.95rem "Source Code Pro";
   position: absolute;
   left: 50%;
   top: -2px;
   transform: translate(-50%, -100%);
   white-space: pre;
}

.graph .point {
   width: var(--point-size);
   height: var(--point-size);
   position: absolute;
   z-index: 3;
}

.graph .line {
   height: 1px;
   position: absolute;
   transform-origin: top left;
   z-index: 3;
}

.graph .rect {
   position: absolute;
   z-index: 2;
}

.graph .triangle {
   width: 0;
   height: 0;
   position: absolute;
   z-index: 2;
}
.graph .triangle.top-left {
   border-top: var(--width) solid var(--colour);
   border-right: var(--height) solid transparent;
   border-bottom: var(--width) solid transparent;
   border-left: var(--height) solid var(--colour);
}
.graph .triangle.top-right {
   border-top: var(--width) solid var(--colour);
   border-right: var(--height) solid var(--colour);
   border-bottom: var(--width) solid transparent;
   border-left: var(--height) solid transparent;
}
.graph .triangle.bottom-right {
   border-bottom: var(--width) solid var(--colour);
   border-right: var(--height) solid var(--colour);
   border-left: var(--height) solid transparent;
   border-top: var(--width) solid transparent;
}
.graph .triangle.bottom-left {
   border-bottom: var(--width) solid var(--colour);
   border-left: var(--height) solid var(--colour);
   border-top: var(--width) solid transparent;
   border-right: var(--height) solid transparent;
}

.graph .measurement {
   font: 400 0.85rem "Open Sans 3";
   color: #ccc;
   position: absolute;
}
.graph .measurement.y {
   transform: translate(-100%, 50%);
}
.graph .measurement.x {
   bottom: 2px;
   transform: translate(-50%, 100%);
}

.graph .label {
   color: rgb(212, 211, 226);
   font: 600 1rem "Source Sans 3";
   font-style: italic;
   font-weight: bold;
   position: absolute;
}
.graph .x-label {
   left: 50%;
   bottom: -10px;
   transform: translate(-50%, 100%);
}
.graph .y-label {
   top: 50%;
   left: -30px;
   transform: translateX(-50%) rotate(-90deg);
}