.graph {
   background-color: rgba(92, 92, 107, 0.6);
   border: 1px solid #000;
   margin-left: 50%;
   transform: translateX(-50%);
}

.graph .point {
   width: 2px;
   height: 2px;
   position: absolute;
   transform: translate(-50%, -50%);
   z-index: 3;
}

.graph .line {
   height: 1px;
   position: absolute;
   transform-origin: top left;
   opacity: 0.8;
   z-index: 2;
}

.graph .measurement {
   color: #ccc;
   font-size: 0.85rem;
   position: absolute;
}
.graph .measurement.y {
   transform: translateX(-100%);
}
.graph .measurement.x {
   bottom: 2px;
   transform: translate(-50%, 100%);
}

.graph .label {
   color: rgb(194, 192, 223);
   font-style: italic;
   font-weight: bold;
   position: absolute;
}
.graph .x-label {
   left: 50%;
   bottom: -13px;
   transform: translate(-50%, 100%);
}
.graph .y-label {
   top: 50%;
   left: -30px;
   transform: translateX(-50%) rotate(-90deg);
}