.graph {
   background-color: #5c5c6b;
   /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   margin-left: 50%;
   transform: translateX(-50%);
}

.graph .point {
   width: 2px;
   height: 2px;
   background-color: red;
   position: absolute;
   transform: translate(-50%, -50%);
}

.graph .line {
   height: 2px;
   background-color: green;
   position: absolute;
   transform-origin: top left;
}

.graph .measurement {
   position: absolute;
}
.graph .measurement.y {
   transform: translateX(-100%);
}
.graph .measurement.x {
   bottom: -5px;
   transform: translate(-50%, 100%);
}