body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
   display: none !important;
}

.hover-box {
   font-family: "Source Sans 3";
   color: #fff;
   background-color: #28282b;
   position: absolute;
   transform: translate(-50%, -50%);
   white-space: pre;
}

#mask {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 4;
}