@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

body {
   --matte-black: #28282b;
   margin: 0;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
body.dark-mode {
   background-color: var(--matte-black);
}

button {
   cursor: pointer;
}

.hidden {
   display: none !important;
}

.hover-box {
   font-family: "Source Sans 3";
   color: #fff;
   background-color: #28282b;
   position: absolute;
   transform: translate(-50%, -50%);
   white-space: pre;
}

#mask {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 4;
}

.input-range {
   background-color: #111;
   border: 2px solid #666;
   border-radius: 5px;
   padding: 2px 4px;
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
}
.input-range.extreme {
   border-color: rgb(99, 56, 56);
   box-shadow: 1px 1px 5px 1px rgba(255, 0, 0, 0.3);
}
.input-range .formatter {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.input-range * {
   font-family: "Source Code Pro";
}
.input-range .formatter > * {
   margin: 0 10px;
}
.input-range .text {
   font: 400 0.95rem "Source Code Pro";
   letter-spacing: -0.06rem;
   word-spacing: -0.05rem;
   white-space: pre;
}
.input-range.extreme .text {
   color: rgb(245, 155, 122);
   text-shadow: 0 0 2px red;
}
.input-range .value {
   font-weight: 600;
   text-align: center;
}
.input-range.extreme .value {
   color: rgb(255, 51, 0);
   animation: extremeMode 0.1s linear infinite;
}
@keyframes extremeMode {
   0% {
      transform: translateX(0);
   }
   20% {
      transform: translateX(-0.1rem);
   }
   40% {
      transform: translateX(0);
   }
   80% {
      transform: translateX(0.1rem);
   }
   100% {
      transform: translateX(0);
   }
}
.input-range .bar-container {
   display: flex;
}
.input-range :is(.min, .max) {
   color: #ccc;
}
.input-range button {
   margin-top: 0.5rem !important;
}

.input-checkbox input {
   display: inline;
   opacity: 0.6;
}
.input-checkbox.selected input {
   opacity: 1;
}
.input-checkbox label {
   font: 400 0.95rem "Source Code Pro";
   color: #ccc;
   letter-spacing: -0.03rem;
   word-spacing: -0.1rem;
   margin-left: 0.2rem;
   user-select: none;
   cursor: pointer;
}
.input-checkbox.selected label {
   color: #fff;
}

.input-text .text {
   font: 400 1rem "Source Sans 3";
}
.input-text input {
   font: 400 1rem "Source Code Pro";
   background-color: transparent;
   margin-left: 5px;
   border: none;
}

.warning {
   background-color: rgba(0, 0, 0, 0.5);
   padding: 5px;
   border-radius: 5px;
   position: absolute;
   z-index: 999;
   transform: translateX(2rem)
}
.warning h3 {
   color: rgb(255, 60, 0);
   font: 600 0.95rem "Source Code Pro";
   background-color: #000;
   margin: 0 0 0.2rem;
   text-shadow: 0 0 1px red;
   display: table;
}
.warning p {
   font: 400 0.95rem "Source Sans 3";
   margin: 0 !important;
}