body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.hidden {
   display: none !important;
}

.hover-box {
   font-family: "Source Sans 3";
   color: #fff;
   background-color: #28282b;
   position: absolute;
   transform: translate(-50%, -50%);
   white-space: pre;
}

#mask {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 4;
}


.menu input[type=text] {
   color: #fff;
   font-family: "Source Sans 3";
   font-size: 1rem;
   font-weight: bold;
   border: none;
   background-color: transparent;
   margin: 0 0 2px 5px;
   display: inline;
   outline-width: 0;
}
.menu input[type=text]:focus {
   background-color: #3a3a3d;
   border-bottom: 2px solid #9393bd;
   margin-bottom: 0;
}