@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

.menu {
   z-index: 4;
}

.menu * {
   color: #fff;
}

.menu .heading {
   text-align: center;
   text-shadow: 1px 1px 1px #000, 1px 1px 2px #000, 1px 1px 3px #000;
   font: 600 1.8rem "Source Sans 3";
   margin: 0 0 1rem;
}

.menu .subheading {
   text-align: center;
   text-shadow: 3px 3px 1px #000;
   font: 600 1.2rem "Source Code Pro";
   margin: 1.2 rem 0 0.3rem 0;
}

.menu p {
   font: 400 1rem "Source Sans 3";
   margin: 0 0 0.5rem;
}

.menu button {
   font: 400 0.9rem "Source Code Pro";
   letter-spacing: -0.03rem;
   word-spacing: -0.1rem;
   background-color: transparent;
   border: 2px solid #bbb;
   border-radius: 4px;
   margin: 0 0 0 50%;
   padding: 0 0.3rem;
   display: table;
   transform: translateX(-50%);
   white-space: pre;
}

.menu button + button {
   margin-top: 0.4rem;
}
.menu button:hover {
   font-weight: 500;
   background-color: var(--matte-black);
   border-color: #ddd;
}
.menu button:active {
   color: #ccc;
   border-color: #ccc;
}

.menu .input-range {
   margin-bottom: 0.5rem;
}

.menu .input-checkbox + .input-range {
   margin-top: 0.5rem;
}

.menu select {
   font: 400 0.9rem "Source Sans 3";
   margin-left: 0.4rem;
   background-color: #333;
   border: none;
   cursor: pointer;
}