@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#start-menu {
   background-color: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(4px);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow-y: scroll;
}

#start-menu .content {
   position: absolute;
   top: 5rem;
   left: 50%;
   transform: translateX(-50%);
}

body:not(.dark-mode) #start-menu button {
   box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
}

#start-menu .next-button {
   font-weight: 600;
   padding: 0 0.3rem;
   margin-top: 0.5rem;
}