@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#terrain-generator button {
   margin: 0.2rem 0 0.2rem 50%;
   transform: translateX(-50%);
}

#terrain-generator .input-checkbox {
   margin-bottom: 0.5rem;
}

#advanced-terrain-generator .terrain-layer {
   border: 2px solid #999;
   border-radius: 4px;
   background-color: #111;
   padding: 0.3rem 0.3rem;
   position: relative;
   display: flex;
   align-items: center;
}

#advanced-terrain-generator .terrain-layer > * {
   margin: 0 5px;
}

#advanced-terrain-generator .terrain-layer .thumbnail {
   position: relative;
}
#advanced-terrain-generator .terrain-layer .thumbnail::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) inset;
   z-index: 999;
}

#advanced-terrain-generator .terrain-layer:not(:last-child) {
   margin-bottom: 0.5rem;
}
#advanced-terrain-generator .terrain-layer .remove-button {
   --offset: 3px;
   color: #ccc;
   position: absolute;
   top: var(--offset);
   right: var(--offset);
   cursor: pointer;
   user-select: none;
}
#advanced-terrain-generator .terrain-layer .remove-button::before {
   content: "[";
   color: #777;
}
#advanced-terrain-generator .terrain-layer .remove-button::after {
   content: "]";
   color: #777;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover {
   color: red;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover::after {
   color: #999;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover::before {
   color: #999;
}
#advanced-terrain-generator .terrain-layer .remove-button:active {
   color: rgb(192, 1, 1);
}
#advanced-terrain-generator .terrain-layer .remove-button:active::after {
   color: #666;
}
#advanced-terrain-generator .terrain-layer .remove-button:active::before {
   color: #666;
}

#advanced-terrain-generator .terrain-layer .layer-input {
   font: 400 1rem "Source Sans 3";
}