@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#terrain-generator .size-container:not(.custom) .input-text {
   pointer-events: none;
   opacity: 0.6;
}
#terrain-generator .size-container .formatter {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}
#terrain-generator .size {
   color: #ccc;
   font: 400 1rem "Source Sans 3";
   margin: 0 7px;
   cursor: pointer;
}
#terrain-generator .size.selected {
   color: #fff;
   font-weight: 600;
   cursor: default;
}
#terrain-generator .size.selected::before {
   content: ">";
   font-weight: 600;
   font-family: "Source Code Pro";
   margin-right: 0.1rem;
   animation: Fade 2s linear infinite;
}
#terrain-generator .size.selected::after {
   content: "<";
   font-weight: 600;
   font-family: "Source Code Pro";
   margin-left: 0.1rem;
   animation: Fade 2s linear infinite;
}
@keyframes Fade {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

#terrain-generator button {
   margin: 1rem 0 0.2rem 50%;
   transform: translateX(-50%);
}

#terrain-generator .input-checkbox {
   margin-bottom: 0.5rem;
}

#advanced-terrain-generator .terrain-layer {
   border: 2px solid #999;
   border-radius: 4px;
   background-color: #111;
   padding: 0.3rem 0.3rem;
   position: relative;
   display: flex;
   align-items: center;
}

#advanced-terrain-generator .terrain-layer > *:not(:first-child) {
   margin-left: 5px;
}
#advanced-terrain-generator .terrain-layer > *:not(:last-child) {
   margin-right: 5px;
}

#advanced-terrain-generator .terrain-layer .thumbnail {
   position: relative;
}

#advanced-terrain-generator .terrain-layer:not(:last-child) {
   margin-bottom: 0.5rem;
}
#advanced-terrain-generator .terrain-layer .remove-button {
   --offset: 1px;
   font: 400 1rem "Source Code Pro";
   color: #ccc;
   position: absolute;
   top: var(--offset);
   right: var(--offset);
   cursor: pointer;
   user-select: none;
}
#advanced-terrain-generator .terrain-layer .remove-button::before {
   content: "[";
   color: #777;
}
#advanced-terrain-generator .terrain-layer .remove-button::after {
   content: "]";
   color: #777;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover {
   color: red;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover::after {
   color: #999;
}
#advanced-terrain-generator .terrain-layer .remove-button:hover::before {
   color: #999;
}
#advanced-terrain-generator .terrain-layer .remove-button:active {
   color: rgb(192, 1, 1);
}
#advanced-terrain-generator .terrain-layer .remove-button:active::after {
   color: #666;
}
#advanced-terrain-generator .terrain-layer .remove-button:active::before {
   color: #666;
}

.layer-noise-type > * {
   display: inline;
}
.layer-noise-type:not(.enabled) * {
   color: #aaa;
}
.layer-noise-type:not(.enabled) input[type=checkbox] {
   opacity: 0.65
}
.layer-noise-type:not(.enabled) .input-container::after {
   opacity: 0.5;
}