@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#titlescreen {
   width: 100%;
   position: absolute;
   z-index: 4;
}

h1 {
   text-align: center;
   font-family: "Source Sans 3";
   font-size: 3rem;
}

#title-options-container button {
   font-family: "Source Sans 3";
   font-size: 1rem;
   margin: 1rem 0 1rem 50%;
   padding: 0.1rem 0.4rem;
   display: block;
   transform: translateX(-50%);
   cursor: pointer;
}

#source-code-button {
   color: #fff;
   background-color: #28282b;
   border-radius: 7px;
   box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
}
#source-code-button:hover {
   color: #ccc;
}

.confetti {
   position: absolute;
}