@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

#titlescreen {
   width: 100%;
   position: absolute;
   z-index: 4;
}

#titlescreen h1 {
   text-align: center;
   font-family: "Source Sans 3";
   font-size: 3rem;
}
.dark-mode #titlescreen h1 {
   color: #fff;
}

#title-options-container button {
   font-family: "Source Sans 3";
   font-size: 1rem;
   margin: 1rem 0 1rem 50%;
   padding: 0.1rem 0.4rem;
   display: block;
   transform: translateX(-50%);
}
.dark-mode #title-options-container button {
   color: #fff;
   border: 2px solid #bbb;
   border-radius: 4px;
   background-color: #444;
}
.dark-mode #title-options-container button:hover {
   border-color: #eee;
}
.dark-mode #title-options-container button:active {
   border-color: #ccc;
   color: #ccc;
}

#source-code-button {
   color: #fff;
   background-color: #28282b;
   border-radius: 7px;
   box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
}
#source-code-button:hover {
   color: #ccc;
}
body.dark-mode #source-code-button {
   background-color: #ccc;
   color: #000;
   box-shadow: 1px 1px 7px 2px rgba(200, 200, 200, 0.6);
}
body.dark-mode #source-code-button:hover {
   border-color: #ddd;
   background-color: #ddd;
}
body.dark-mode #source-code-button:active {
   background-color: #ccc;
   border-color: #ccc;
   color: #333;
}

.confetti {
   position: absolute;
}